.paragraph {
  width: fit-content;
}
.food-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.food-picture {
  border: 4px solid brown;
  border-radius: 6px;
  height: 120px;
}
.add-item {
  background-color: white;
  border: 2px solid brown;
  border-radius: 6px;
}

.add-moreitems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.add-to-cart {
  background-color: white;
  border: 2px solid brown;
  color: brown;
}
.add-to-cart:hover{
  background-color: brown;
color: white}

.add-item:hover {
background-color: brown;
color: white
}

.food-picture:hover{
  transform: scaleX(-1);
}
