.cart-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.cart-modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	width: 400px;
}

.cart-modal-body {
	overflow-y: auto;
	max-height: 300px;
}

.head-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.phone-num {
	margin-right: 10px;
}

.cart {
	position: relative;
}

.cart2 {
	width: 30px;
	height: 30px;
}

.card-items {
	display: flex;
	align-items: center;
}

.item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.item img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.item-details {
	flex: 1;
}

.item-details h3 {
	margin: 0;
	margin-bottom: 5px;
}

.item-details p {
	margin: 0;
	margin-bottom: 10px;
}

.custom-btn {
	background-color: rgb(248, 247, 247);
}

.cart-footer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.close-button {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
}
